<h1>
  Edit salary #<%= @salary.id %>
</h1>

<hr>

<form action="/update_salary/<%= @salary.id %>" method="post">

  <div class="form-group">
    <label for="monthly_wage">
      Monthly wage
    </label>

    <input type="text" id="monthly_wage" name="monthly_wage" class="form-control" value="<%= @salary.monthly_wage %>">
  </div>

  <div class="form-group">
    <label for="monthly_benefits">
      Monthly benefits
    </label>

    <input type="text" id="monthly_benefits" name="monthly_benefits" class="form-control" value="<%= @salary.monthly_benefits %>">
  </div>

  <div class="form-group">
    <label for="month_id">
      Month
    </label>

    <input type="text" id="month_id" name="month_id" class="form-control" value="<%= @salary.month_id %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update salary
  </button>
</form>

<hr>

<a href="/salaries">
  Go back
</a>
