<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Salary #<%= @salary.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/salaries" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/salaries/<%= @salary.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit salary
        </a>
      </div>

      <div class="col">
        <a href="/delete_salary/<%= @salary.id %>" class="btn btn-block btn-outline-secondary">
          Delete salary
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Monthly wage
      </dt>
      <dd>
        <%= @salary.monthly_wage %>
      </dd>

      <dt>
        Monthly benefits
      </dt>
      <dd>
        <%= @salary.monthly_benefits %>
      </dd>

      <dt>
        Month
      </dt>
      <dd>
        <%= @salary.month_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@salary.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@salary.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

