<!-- Validation failure messages -->
<% if @child.errors.any? %>
  <% @child.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit child #<%= @child.id %>
</h1>

<hr>

<!-- Form child start -->
<form action="/update_child/<%= @child.id %>" method="post">
<!-- Form child end -->

  <!-- Label and input for children_id start -->
  <div class="form-group">
    <label for="children_id">
      Children
    </label>

    <!-- Input for children_id start -->
    <input type="text" id="children_id" name="children_id" class="form-control" value="<%= @child.children_id %>">
    <!-- Input for children_id end -->
  </div>
  <!-- Label and input for children_id end -->

  <!-- Label and input for children_date start -->
  <div class="form-group">
    <label for="children_date">
      Children date
    </label>

    <!-- Input for children_date start -->
    <input type="text" id="children_date" name="children_date" class="form-control" value="<%= @child.children_date %>">
    <!-- Input for children_date end -->
  </div>
  <!-- Label and input for children_date end -->

  <button class="btn btn-block btn-outline-secondary">
    Update child
  </button>
</form>

<hr>

<a href="/children">
  Go back
</a>
