<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All children
    </h1>

    <a href="/children/new" class="btn btn-block btn-outline-secondary">
      Add a new child
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "child_templates/children_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Children
        </th>

        <th>
          Children date
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @children.each do |child| %>
      <tr>
        <td>
          <%= child.id %>
        </td>

        <td>
          <%= child.children_id %>
        </td>

        <td>
          <%= child.children_date %>
        </td>

        <td>
          <%= time_ago_in_words(child.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(child.updated_at) %> ago
        </td>

        <td>
          <a href="/children/<%= child.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @children, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
