<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All children
    </h1>

    <a href="/children/new" class="btn btn-block btn-outline-secondary">
      Add a new child
    </a>
  </div>
</div>

<!-- Ransack Code start -->

<!-- Ransack Code end -->

<!-- Location Map Code start -->

<!-- Location Map Code end -->

<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Children
        </th>

        <th>
          Children date
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @children.each do |child| %>
      <tr>
        <!-- Display child.id start -->
        <td>
          <%= child.id %>
        </td>
        <!-- Display child.id end -->

        <!-- Display child.children_id start -->
        <td>
          <%= child.children_id %>
        </td>
        <!-- Display child.children_id end -->

        <!-- Display child.children_date start -->
        <td>
          <%= child.children_date %>
        </td>
        <!-- Display child.children_date end -->

        <!-- Display child.created_at start -->
        <td>
          <%= time_ago_in_words(child.created_at) %> ago
        </td>
        <!-- Display child.created_at end -->

        <!-- Display child.updated_at start -->
        <td>
          <%= time_ago_in_words(child.updated_at) %> ago
        </td>
        <!-- Display child.updated_at end -->

        <td>
          <a href="/children/<%= child.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @children, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
