<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Child #<%= @child.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/children" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/children/<%= @child.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit child
        </a>
      </div>

      <div class="col">
        <a href="/delete_child/<%= @child.id %>" class="btn btn-block btn-outline-secondary">
          Delete child
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Children
      </dt>
      <dd>
        <%= @child.children_id %>
      </dd>

      <dt>
        Children date
      </dt>
      <dd>
        <%= @child.children_date %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@child.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@child.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

